<%- include('layouts/header.ejs') %>
			<div class="row">
				<a id="back-chat" class="fa fa-arrow-left ml-2 mt-1 mb-1 d-none" style="color: white;" aria-hidden="true"></a>
				<div class="col-md-3">
					<ul class="list-group">

						<% if(userList.length == 0) { %>
							<h2>No Users found!</h2>
						<% }

						else {

							%>
								<form action="" method="GET" class="search__input">
									<input type="text" name="user" placeholder="Search user">
									<button type="submit" class="btn btn-light app__flex">
										<a class="fa fa-search" aria-hidden="true"></a>
									</button>
								</form>							
							<%
								for(let i = 0; i< userList.length; i++) {
									%>
										<li class="list-group-item user-list app__flex" data-id = "<%= userList[i]._id %>" data-name="<%= userList[i].username %>" data-image="<%= userList[i].image %>" data-time="<%= userList[i].updatedAt %>" data-status="<%= userList[i].isOnline %>">
											<div class="app__flex user__image">
												<img src="<%= userList[i].image %>" alt="user logo" height="70%">
											</div>
											<div class="flex-grow-1">
												<%= userList[i].username %>
												<%
													if(userList[i].isOnline) {
														%>	
															<sup class="online__status" id="<%= userList[i]._id %>-status" ></sup>
														<%
													} else {
														%>
															<sup class="offline__status" id="<%= userList[i]._id %>-status" ></sup>
														<%
													} 
												%>
											</div>
										</li>
									<%
								}
							}
						%>
					</ul>
				</div>
				
				<div class="app__flex col-md-9" id="start-chat">
					<h1 class="start-head"> Click to Start a Chat</h3>

					<div class="chat-section">
						<div class="group-headline app__flex">
							<img class="user__img rounded-pill" style="height: 30px;" src="" alt="user-logo"/>
							<span class="user__name" style="font-weight: 500; font-size: medium;"></span>
							<span class="user__lastActive" style="font-size: small; font-family: cursive;"></span>
						</div>
						<div id="chat-container">
							<!-- <div class="current__user__chat">Hi</div>
							<div class="opposite__user__chat">Hi</div> -->
						</div>

						<form action="" id="chat-form" class="app__flex">
							<input type="text" name="message" placeholder="Enter message" id="message" class="message" required>
							<button type="submit" value="" class="btn btn-secondary app__flex" style="border: none; background-color: #5359cefa;"><i class="fa fa-paper-plane send" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>
			</div>

<%- include('layouts/footer.ejs') %>
