<%- include('layouts/header.ejs') %>

	<% if(typeof GroupJoinResData !== 'undefined') { %>
		<div class="app__flex flex-column p-4" style="height: 95%;">
			<div class="app__flex joinGroup__logo">
				<img src="<%= GroupJoinResData.group.image %>" alt="group logo" height="100%">
			</div>
			<div class="app__flex flex-column m-2 text-white">
				<h4 class="text-white"><%= GroupJoinResData.group.name %></h4>
				<p>Total Members: <%= GroupJoinResData.totalMembers %></p>
				
				<%
					if(GroupJoinResData.available != 0) {
						%>
							<p>Available for <b> <%= GroupJoinResData.available %> </b> Members</p>
						<%
					} 
					
					if(GroupJoinResData.isAdmin) {
						%>
							<p class="text-center">Can't join as you are the creator of this group!</p>
							<a href="/dashboard" class="btn btn-light">Back to Home</a>
						<%
					} else if(GroupJoinResData.isJoined != 0) {
						%>
							<p> You have already joined the Group</p>
							<a href="/dashboard" class="btn btn-light">Back to Home</a>
						<%
					} else {
						%>
							<button class="btn btn-light join_by_shared_link" data-id="<%= GroupJoinResData.group._id %>">Join Group</button>
						<%
					}
				%>
			</div>
		</div>
	<% } else { %>

	<div class="row">
		<a id="back-chat" class="fa fa-arrow-left ml-2 mt-1 mb-1 d-none" style="color: white;" aria-hidden="true"></a>
		<div class="col-md-3" style="height: auto;">
			<ul class="list-group">

				<% if(myGroups.length == 0 && joinedGroups.length == 0) { %>
					<h5 style="color: #e2e2e2; padding-left: 10px;">No Groups found!</h5>
				<% } %>

				<!--------- My Groups ------------->
				<% if(myGroups.length> 0) {
					for(let i = 0; i< myGroups.length; i++) { %>
						<li class="list-group-item group-list app__flex" data-id="<%= myGroups[i]._id %>" data-name="<%= myGroups[i].name %>" data-image="<%= myGroups[i].image %>" data-description="<%= myGroups[i].description %>">
							<div class="app__flex group__image">
								<img src="<%= myGroups[i].image %>" alt="user logo" height="70%">
							</div>
							<div class="flex-grow-1">
								<%= myGroups[i].name %>
							</div>

							<!-- Drowdown to show group operations -->
							<div class="dropdown arrow">
								<div class="dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								</div>
								<div class="dropdown-menu dropdown-menu-right" data-id="<%= myGroups[i]._id %>" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item text-secondary small addMember" data-toggle="modal" data-target="#AddMembersModal">Add/Remove Member</a>
									<a class="dropdown-item text-secondary small updateGroup" data-toggle="modal" data-target="#UpdateGroupModal" data-obj="<%= JSON.stringify(myGroups[i]) %>">Edit Group</a>
									<a class="dropdown-item text-secondary small deleteGroup" >Delete Group</a>
									<a class="dropdown-item text-secondary small groupLink" >Copy Link</a>
								</div>
							</div>

							<!-- Modal for Add/Remove Members in Group -->
							<div class="modal fade" id="AddMembersModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalCenterTitle">Add / Remove Members</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>

										<form action="" method="POST" id="add-member-form">
											<div class="modal-body">
												
												<input type="hidden" name="group_id" id="group-update-id"/>
											
												<div class="table__container">
													<table class="table">
														<thead>
															<th>Select</th>
															<th>Name</th>
														</thead>
														<tbody class="addMemberTable">
														</tbody>
													</table>
												</div>
											</div>
										</form>
										<div class="modal-footer">
											<p id="add-member-error" style="color: red"></p>
											<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-dark" form="add-member-form">Update</button>
										</div>
									</div>
								</div>
							</div>

							<!-- Modal for Update Group -->
							<div class="modal fade" id="UpdateGroupModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalCenterTitle">Update Group</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
				
										<form action="" method="POST" enctype="multipart/form-data" id="update-group-form">
											<div class="modal-body app__flex flex-column" style="gap: 15px;">

												<input type="hidden" name="group_id" id="group-update-id"/>
												
												<div class="app__flex" style="gap: 20px;">
													<div class="app__flex manage__group__img">
														<img src="" alt="group image" id="selectedImage"/>
													</div>
				
													<input type="file" name="image" id="imageInput" class="d-none" accept=".png, .jpg, .jpeg"/>
													<a class="fa fa-pencil" style="font-size: 20px;" onclick="document.getElementById('imageInput').click()" aria-hidden="true"></a>
												</div>

												<input type="text" name="name" placeholder="Group name" class="group__input" id="group-name" required />
												<input type="text" name="description" placeholder="Description" class="group__input" id="group-description"/>
											</div>
											
											<div class="modal-footer">
												<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
												<button type="submit" class="btn btn-dark">Update</button>
											</div>
										</form>
									</div>
								</div>
							</div>

						</li>

						
						<% } 
					}

					<!--------- Joined Groups --------->
					if(joinedGroups.length> 0) {
						for(let i = 0; i< joinedGroups.length; i++) { %>
							<li class="list-group-item group-list app__flex" data-id="<%= joinedGroups[i].group_id._id %>" data-name="<%= joinedGroups[i].group_id.name %>" data-image="<%= joinedGroups[i].group_id.image %>" data-description="<%= joinedGroups[i].group_id.description %>">
								<div class="app__flex group__image">
									<img src=<%= joinedGroups[i].group_id.image %> alt="user logo" height="70%">
								</div>
								<div class="flex-grow-1">
									<%= joinedGroups[i].group_id.name %>
								</div>
	
								<!-- Drowdown to show group operations -->
								<div class="dropdown arrow">
									<div class="dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									</div>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item text-secondary small leaveGroup" data-id="<%= joinedGroups[i].group_id._id %>">Leave Group</a>
									</div>
								</div>
	
							</li>
							
							<% } 
					}  	%>

			</ul>
		</div>
		<div class="app__flex col-md-9" id="start-chat">
			<button type="button" class="btn btn-primary btn-lg group-btn" data-toggle="modal" data-target="#CreateGroupModel">Create New Group</button>

			<!-- Modal for Create Group -->
			<div class="modal fade" id="CreateGroupModel" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalCenterTitle">Create Group</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<form action="" method="POST" enctype="multipart/form-data">
							<div class="modal-body app__flex flex-column" style="gap: 15px">
									<input type="hidden" name="group_id" id="group-id"/>
									<div class="app__flex" style="gap: 20px;">
										<div class="app__flex manage__group__img">
											<img src="images/default_group.png" alt="group image" id="selectedImage"/>
										</div>
	
										<input type="file" name="image" id="imageInput" class="d-none" accept=".png, .jpg, .jpeg" required />
										<a class="fa fa-pencil" style="font-size: 20px;" onclick="document.getElementById('imageInput').click()" aria-hidden="true"></a>
									</div>

									<input type="text" name="name" placeholder="Group name" class="group__input" required />
									<input type="text" name="description" placeholder="Description" class="group__input" />
							</div>
							
							<div class="modal-footer">
							  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
							  <button type="submit" class="btn btn-dark">Create</button>
							</div>
						</form>
					</div>
				</div>
			</div>


			<!-- Chat Section -->
			<div class="chat-section">
				<div class="group-headline app__flex">
						<img class="group__image rounded-pill" style="height: 35px;" src="" alt="group-logo"/>
					<span class="group__name" style="font-weight: bold; font-size: large;"></span>
					<span class="group__description"></span>
				</div>
				<div id="group-chat-container">
					<!-- <div class="current-user-chat">Hi</div>
				<div class="opposite-user-chat">Hi</div> -->
				</div>

				<form action="" id="group-chat-form" class="app__flex">
					<input type="text" name="message" placeholder="Enter message" id="group-message" class="message" required>
					<button type="submit" value="" class="btn btn-secondary" style="border: none; background-color: #5359cefa;">
						<i class="fa fa-paper-plane send" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>
	</div>

	<% } %>

	<%- include('layouts/footer.ejs') %>