<%- include('layouts/header.ejs') %>

	<div class="app__flex" style="height: 95%;">
		<div class="row profile__row">
			<div class="mr-auto ml-auto profile__col">
				<div class="app__flex profile__image">
					<div class="app__flex user__image">
						<img src="<%= user.image %>" alt="profile-pic" id="selectedImage"/>
					</div>
					<div class="app__flex profile__update">
						<input type="file" name="image" id="imageInput" class="w-50 mb-2 d-none" accept=".png, .jpg, .jpeg" required />
						<a class="fa fa-upload" style="font-size: 20px;" onclick="document.getElementById('imageInput').click()" aria-hidden="true"></a>
						<button id="update-image" class="btn btn-primary btn-sm">Update</button>
					</div>
				</div>
				<div class="app__flex flex-column profile__info">
					<div class="form__input">
						<label>Username</label>
						<input type="text" placeholder='<%= user.username %>' name="username" readonly/>
					</div>
					<div class="form__input">
						<label>Email</label>
						<input type="email" placeholder='<%= user.email %>' name="email" readonly/>
					</div>
				</div>
				<div class="profile__delete">
					<h5>Delete Account</h5>
				</div>
			</div>
		</div>
	</div>

<%- include('layouts/footer.ejs') %>